In [4]:

"""
 Employee Salary CRUD Manager
 BY - KUSHAGRA GOYAL
      (1st year student at VIT bhopal university)
 TOPIC - Write a python program code for creating a employee salary CRUD manager
         with insert, update, delete operations for employees details.
"""
Employees = {}
def insert_Employee(Employee_id, name, salary):
  Employees[Employee_id] = {"Employee id": Employee_id ,"Name": name, "Salary": salary}
  print(f"✔️ Employee {name} with salary ₹{salary} has been inserted successfully.")

def update_Employee(Employee_id, name, salary):
  if Employee_id not in Employees:
    print(f"Employee with ID {Employee_id} doesn't exist. Cannot update.")
    return
  Employees[Employee_id]["Employee id"] = Employee_id
  Employees[Employee_id]["Name"] = name
  Employees[Employee_id]["Salary"] = salary
  print(f"✔️ Employee {name} with salary ₹{salary} has been updated successfully.")

def delete_Employee(Employee_id):
  if Employee_id not in Employees:
    print(f"Employee with ID {Employee_id} does not exist. Cannot delete.")
    return
  name_to_delete = Employees[Employee_id]["Name"]
  del Employees[Employee_id]
  print(f"✔️ Employee {name_to_delete} with ID {Employee_id} has been deleted successfully.")

def View_Employees():
  if not Employees:
    print("❌ sorry! No Employees record found")
    return
  print("--------Employee Records--------")
  print("-" * 40)
  print(f"{'Employee id':<15}{'Name':<15}{'Salary':<15}")
  print("-" * 40)
  for Employee_id, Employee_details in Employees.items():
    print(f"{Employee_details['Employee id']:<15}{Employee_details['Name']:<15}₹{Employee_details['Salary']:<15}")
  print("-" * 40)

#-------------- MAIN MENU --------------#
def main():
  while True:
    print("\n======== Employee Salary CRUD Manager ========")
    print("1. Insert Employee")
    print("2. Update Employee")
    print("3. Delete Employee")
    print("4. View Employees")
    print("5. Exit")

    choice = input("enter your choice(1-5):")
    if choice == "1":
      Employee_id = input("Enter Employee ID: ")
      name = input("Enter Employee name: ")
      salary = float(input("Enter Employee salary: "))
      insert_Employee(Employee_id, name, salary)

    elif choice == "2":
      Employee_id = input("Enter Employee ID to update: ")
      name = input("Enter Employee new name: ")
      salary = float(input("Enter Employee new salary: "))
      update_Employee(Employee_id, name, salary)

    elif choice == "3":
      Employee_id = input("Enter Employee ID to delete: ")
      delete_Employee(Employee_id)

    elif choice == "4":
      View_Employees()

    elif choice == "5":
      print("Exiting Employee Salary CRUD Manager. Goodbye")
      break

    else:
      print("❌ Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):1
Enter Employee ID: ABC1010245123
Enter Employee name: KUSHAGRA GOYAL
Enter Employee salary: 1000000
✔️ Employee KUSHAGRA GOYAL with salary ₹1000000.0 has been inserted successfully.

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):1
Enter Employee ID: ABC1210245129
Enter Employee name: NIKHIL YADAV
Enter Employee salary: 1200000
✔️ Employee NIKHIL YADAV with salary ₹1200000.0 has been inserted successfully.

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):1
Enter Employee ID: ABC1410245140
Enter Employee name: PARV JAIN
Enter Employee salary: 1500000
✔️ Employee PARV JAIN with salary ₹1500000.0 has been inserted successfully.

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):1
Enter Employee ID: ABC1410245142
Enter Employee name: ADITYA KUSHWAH
Enter Employee salary: 800000
✔️ Employee ADITYA KUSHWAH with salary ₹800000.0 has been inserted successfully.

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):4
--------Employee Records--------
----------------------------------------
Employee id    Name           Salary
----------------------------------------
ABC1010245123  KUSHAGRA GOYAL ₹1000000.0
ABC1210245129  NIKHIL YADAV   ₹1200000.0
ABC1410245140  PARV JAIN      ₹1500000.0
ABC1410245142  ADITYA KUSHWAH ₹800000.0
----------------------------------------

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):3
Enter Employee ID to delete: ABC1410245140
✔️ Employee PARV JAIN with ID ABC1410245140 has been deleted successfully.

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):2
Enter Employee ID to update: ABC1010245123
Enter Employee new name: KUSHAGRA GOYAL
Enter Employee new salary: 1400000
✔️ Employee KUSHAGRA GOYAL with salary ₹1400000.0 has been updated successfully.

======== Employee Salary CRUD Manager ========
1. Insert Employee
2. Update Employee
3. Delete Employee
4. View Employees
5. Exit
enter your choice(1-5):5
Exiting Employee Salary CRUD Manager. Goodbye